.example-fill-remaining-space{
  flex: 1 1 auto;
}

.five_pixel{
  width: 5px;
}

.mat-row:hover{
  background-color: aquamarine;
}

.mat-header-row{
  background-color: dimgray;
}

table {
  width: 100%;
}
