<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button [matMenuTriggerFor]="appMenu" color="accent">
      <mat-icon>home</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu" color="primary">
      <button mat-menu-item routerLink="/listCustomers" color="accent">Customers</button>
      <button mat-menu-item routerLink="/listProducts">Products</button>
      <button mat-menu-item routerLink="/listPurchases">Purchases</button>
    </mat-menu>
    <span class="example-fill-remaining-space"></span>
<!--------------------------------->

    <!-- admin-->
    <button mat-icon-button routerLink="/about">
      <mat-icon>copyright</mat-icon>
    </button>

    <!--    ----------------------->
    <!-- admin-->
    <button mat-icon-button [matMenuTriggerFor]="adminMenu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item routerLink="/home">Admin</button>
      <button mat-menu-item routerLink="/home">Jobs</button>
    </mat-menu>
  <!--    ----------------------->

    <!-- profile-->
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_box</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item routerLink="/home">Login</button>
      <button mat-menu-item routerLink="/home">Edit Profile</button>
    </mat-menu>
    <!--    ----------------------->



  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
